@import "utils";
@import "fonts";
@import "typography";

table {
  border-collapse: collapse;
}

tr {
  height: 25px;
}

tr.header {
  background: lightgray;
}

th,
td {
  padding: 2px;
  border: 1px solid black;
  width: 25px;
  text-align: center;
}
